@import "theme.scss";

@mixin border-and-border-radius($radius: 5px, $color: $primary-color) {
  border-radius: $radius;
  border: 2px solid $color;
}

@mixin pm($property, $size) {
  @if($property == 'p') {
    padding: #{$size}rem;
  }
  @else if($property == 'm') {
    margin: #{$size}rem;
  }
  @else {
    #{$property}: #{$size}rem;
  }
}

.p-3 {
  @include pm(padding, 3);
}

.mr-3 {
  @include pm(margin-right, 3);
}

.header {
  color: $accent-color;
  font-family: $text-font;

  h1 {
    color: $primary-color;
  }

  .text {
    color: $text-color;

    &.primary {
      color: $primary-color;
    }

    &.danger {
      color: $warn-color;
    }
  }
}

form {
  color: $primary-color;

  input {
    //border-radius: 5px;
    //border: 2px solid $primary-color;
    @include border-and-border-radius();
    padding: 5px;
    font-size: $text-size;
  }

  button {
    color: $primary-color;
    //border-radius: 5px;
    //border: 2px solid $primary-color;
    @include border-and-border-radius();

    padding: 10px;

    &[type="reset"] {
      color: $warn-color;
      @include border-and-border-radius(5px, $warn-color);
    }
  }
}